.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  display: flex;
  position: relative;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title {
  margin: auto 0 auto 64px;
  width: 730px;
  z-index: 1;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 1;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.description {
  display: flex;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 100px auto 0;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  padding: 100px 0;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  margin: 20px auto 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  height: 890px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
}

.feynman__img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
}

.feynman__title {
  position: relative;
  width: 648px;
  top: 100px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px 0 0;
}

.feynman__link {
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
}

.kaufman {
  position: relative;
  padding: 90px 0;
  background-color: #1f1f1f;
  overflow: hidden;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  z-index: 1;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.kaufman__triangle {
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
}

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  position: relative;
  display: flex;
}

.footer__columns {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  margin: 60px auto 40px;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__column_content_info {
  position: relative;
}

.footer__column_content_social {
  position: relative;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer__author {
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
}

.footer__column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}